*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Inter, sans-serif;
}

body{
    background: hsl(0, 0%, 8%);
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.global{
    background: hsl(0, 0%, 12%);
    width: 380px;
    height: auto;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 10px;
}

.img__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

}

.detail__content {
    color: hsl(0, 0%, 100%);
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    margin-top: 15px;

}

.detail__content p {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: centers;

}

.detail__content h1 {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: centers;
}

.career__content p{
    color: hsl(0, 0%, 100%);
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#img__content{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 1px solid hsl(75, 94%, 57%);
}

.social__link{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    margin-top: 1.4rem;
    margin-bottom: 0.6rem;
}





.soc{
    background-color:  hsl(0, 0%, 20%);
    height: 40px;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.soc a:hover{
    background-color: hsl(75, 94%, 57%);
    cursor: pointer;
    color: hsl(0, 0%, 0%);
}


.soc a {
    
    height:100%;
    width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    transition: 0.2s;
}

@media screen and (max-width:700px){
    .global{
        width: 330px;
    }
    
    .soc{
        width: 280px;
    }
    .img__container{
        margin-top: 20px;
    }
}
